.home-additions-wrapper {
    display: flex;
}

.home-images-container,
.home-details-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home-images-container {
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    height: auto;
    padding-top:12vh;
    padding-bottom: 12vh;
}

.home-details-container {
    justify-content:space-evenly;
    color: white;
    background-color: #4a4a4a;
    line-height: 1.5;
}

.home-additions-header {
    font-size: 3rem;
    display: flex;
    color: white;
    font-weight: 300;
    margin-left: 0;
    padding-left: 3vw;
}

.home-additions-text {
    width: 85%;
    text-align: left;
    font-size: 1.2rem;
    padding-left: 3vw;
}

.addition-image {
    width: 35vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.addition-image:hover {
    width: 60vw;
    transition: all 600ms ease;
}

.home-additions-types-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.popular-addition-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    padding: 1.5rem;
    width: 35%;
}

.popular-additions-header {
    display: flex;
    text-align: left;
    font-size: 1.75rem;
    padding-left: 2vw;
    font-weight: 300;
    color: #c80001;
}

.popular-additions-text {
    text-align: left;
    width: 85%;
    font-size: 1.2rem;
    padding-left: 2vw;
}

.popular-addition-options-container {
    display: flex;
    flex-direction: column;
    list-style-type: square;
    justify-content: space-evenly;
    margin-left: 5vw;
    margin-right: 3vw;
}

.additions-list {
    text-align: left;
    font-family: 'Montserrat',Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
}

.additions-list:hover {
    font-size: 1.4rem;
    transition: all 600ms ease;
}

.room-addition-container {
    display: flex;
    align-items: center;
    background-color: rgb(219, 219, 219);
}

.room-addition-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-addition-image {
    width:30vw;
    margin:1rem;
}

.room-additions-header {
    display: flex;
    font-size: 1.85rem;
    font-weight: 300;
    color: #c80001;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0vh;
}

.room-addition-text {
    position:static;
    text-align: left;
    color:#4a4a4a;
    font-size: 1.15rem;
    padding: 2rem;
    line-height: 1.5em;
}

@media screen and (max-width: 1024px) {
    .home-additions-wrapper, 
    .home-details-container,
    .home-images-container,
    .room-addition-container
    .home-additions-types-container {
        flex-direction: column;
    }

    .home-additions-wrapper,
    .home-details-container,
    .popular-addition-container,
    .home-additions-types-container {
        height: auto;
        width: 100%;
    }

    .room-addition-container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .home-images-container, 
    .home-details-container {
        width: 100%;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .addition-image {
        width: 75%;
    }

    .home-details-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 2vh;
        padding-bottom: 4vh;
        align-items: center;
        padding-left: 0vw;
        
    }
    .popular-addition-container {
        width: 50%;
    }

    .room-addition-container {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .popular-addition-option-container {
        width: 45%;
    }

    .room-addition-image {
        width: 80%;
    }

    .room-additions-header {
        font-size: 2.5rem;
        padding-bottom:0;
    }

    .room-addition-text {
        width: 80%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}

@media screen and (max-width: 414px) {
    .home-additions-header {
        font-size: 2.25rem;
    }

    .home-additions-text {
        font-size: 1rem;
    }

    .home-additions-types-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .popular-addition-container,
    .popular-addition-options-container {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .additions-list {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .popular-additions-header, 
    .popular-additions-text {
        text-align: center;
        padding-left: 0vw;
        width: 100%;
    }

    .popular-additions-header {
        padding-bottom: 0vh;
        margin-bottom: 0vh;
    }

    .popular-addition-container {
        width: 90%;
        font-size: 1rem;
        align-items: center;
    }

    .popular-addition-options-container {
        padding-bottom: 5vh;
        width: 80%;
    }

    .popular-addition-options-container, 
    .additions-list {
        font-size: .9rem;
        text-align: center;
    }

    .room-additions-header {
        font-size: 1.85rem;

    }

    .room-addition-text {
        font-size: 1rem;
    }

   }