.gallery-wrapper {
    display: flex;
    flex-direction: column;
}

.gallery-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#gallery-nav-item {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color:red
}
