.structural-services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    /* justify-content: space-evenly; */
}

.structural-services-photos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 6vh;
    padding-bottom: 5vh;
}

.structural-services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 4vh;
}

.structural-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 300;
    margin-left: 3vw;
    font-size:1em;
}

.structural-details {
    text-align: left;
    text-align: center;
    font-size:1.1em;
    font-weight: lighter;
    width: 80%;
}

.services-header {
    color: #c80001;
    margin-top: 0;
}

.structural-pic {
    position: inherit;
    width: 25vw;
}

.structural-pic:hover {
    transform: scale(1.3);
    transition: transform .75s ease;
}

li {
    font-family: 'Lato', sans-serif;
}


@media screen and (max-width: 1024px) {
    .structural-services-photos {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .services-header {
        width: 90%;
    }
}

@media screen and (max-width: 414px) {
    .structural-services-photos {
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .structural-pic {
        margin:3vh;
        width: 75vw;
    }

    .structural-pic:hover {
        transform: scale(1.2);
    }

    .services-header {
        font-size: 1.25rem;
    }

    .structural-details {
        font-size: 1rem;
    }
}