.remodeling-services-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    padding-bottom: 3vh;
}

.remodeling-services-container {
    width: 40%;
    padding-right: 5vw;
}

.remodeling-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 200;
    margin-left: 3vw;
    font-size:1rem;
}

.remodeling-details {
    text-align: left;
    font-size:1.1rem;
    font-weight: lighter;
}

.remodeling-services-header {
    color: #c80001;
    margin-right: 0;
}

.apartment-basement {
    border-radius: 5px;
}

/* .remodeling-services-photo {
    margin-right: 0vw;
    padding-right: 0vw;
} */

@media screen and (max-width: 1024px) {
    .remodeling-container {
        flex-direction: column;
    }

    .remodeling-services-wrapper {
        flex-direction: column-reverse;
        height: auto;
        margin: 0;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }

    .remodeling-list {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        justify-items: start;
    }

    .remodeling-services-container {
        width: 85%;
        padding-right: 0vw;
    }

    .apartment-basement {
        width: 85%;
        padding-bottom: 3vh;
        padding-top: 3vh;
    }

    .remodeling-details {
        font-size: 1rem;
    }

    li {
        font-size: .9rem;
    }
}


@media screen and (max-width: 414px) {
    .remodeling-ready {
        font-size: 1.5rem;
    }

    .remodeling-reach {
        font-size: .9rem;
    }

    .remodeling-types {
        text-align: center;
        width: 85%;
        padding-top: .5vh;
        padding-bottom: .5vh;
        margin-top: .5vh;
    }

    .remodeling-services-container {
        padding-right: 0vw;
    }
   }