
.modal-container {
    width: 35%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1vh;
    text-align: left;
    z-index: 3;
    position: fixed;
    height: 100%;
}

.ham-links {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 0;
}

.close-button {
    color: #c80001;
    font-size: 1.75rem;
    padding-left:0;
    margin-left: 0;
}

@media screen and (max-width: 1024px) {
    .modal-container {
        padding-top: 7%;
    }

    .ham-tab {
        font-size: .9rem;
    }

    .close-button {
        color: #c80001;
        font-size: 3rem;
        padding-left:2vw;
        padding-top: 8vh;
    }
   }

@media screen and (max-width: 414px) {
    .modal-container {
        width: 55%;
        padding-top: 7vh;
    }

    .ham-tab {
        font-size: .9rem;
    }

    .close-button {
        padding-left: 4.5vw;
    }
   }