.photo-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4vh;
}

.photo-location {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: black;
    padding: 25px;
    margin: 0;
    height: auto;
}

.gallery-photo {
    width: 60%;
    padding-bottom: 1vh;
}

.gallery-photo-description {
    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;
}

@media screen and (max-width: 414px) {
    .photo-section-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-photo {
        width: 80%;
    }
}