.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 219, 219);
    width: 100%;
    padding-bottom: 3vh;
}
.about-types {
    width: 70vw;
    font-size: 1.1rem;
    font-weight: 100;
    color:#4a4a4a;
}

.about-ready {
    padding-top: 1vh;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .about-types {
        font-size: 1.15rem;
        width: 85%;
    }
}

@media screen and (max-width: 414px) {
    .about-ready {
        font-size: 1.45rem;
        width: 90%;
    }

    .about-types {
        font-size: 1rem;
        width: 80%;
    }

    .grey-button {
        font-size: .5rem;
    }
   }