.banner-container {
    width: 100%;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.banner-header {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    padding-left: 3vw;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@media screen and (max-width: 1024px) {
    .banner-header {
        font-size: 2rem;
        letter-spacing: .07rem;
    }
}

@media screen and (max-width: 414px) {
    .banner-header {
        font-size: 1.75rem;
        letter-spacing: .05rem;
    }

   }